USE [RAM]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Get_Location]    Script Date: 12/8/2016 9:19:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Get_Location]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Get_Location]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Get_Location]    Script Date: 12/8/2016 9:19:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Get_Location]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Proc_Get_Location] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Get_TopCategory
-- =============================================
ALTER PROCEDURE [dbo].[Proc_Get_Location]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT [CityId] , [CityName] + ', ' + P.ProvinceAlias AS LOCATION  FROM [dbo].[CityLocation] AS C 
JOIN [dbo].[Province] AS P ON C.ProvinceID = P.ProvinceID
WHERE C.CityName !='TBD'
ORDER BY [CityName], LOCATION

END

GO
