USE [RAM]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ETLLoadError_createdDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ETLLoadError] DROP CONSTRAINT [DF_ETLLoadError_createdDate]
END

GO
/****** Object:  Table [dbo].[ETLLoadError]    Script Date: 12/8/2016 9:19:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ETLLoadError]') AND type in (N'U'))
DROP TABLE [dbo].[ETLLoadError]
GO
/****** Object:  Table [dbo].[ETLLoadError]    Script Date: 12/8/2016 9:19:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ETLLoadError]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ETLLoadError](
	[ETLLoadID] [bigint] IDENTITY(1,1) NOT NULL,
	[ResourceAgencyNum] [nvarchar](2000) NULL,
	[PublicName] [nvarchar](2000) NULL,
	[AlternateName] [nvarchar](2000) NULL,
	[OfficialName] [nvarchar](2000) NULL,
	[TaxonomyLevelName] [nvarchar](2000) NULL,
	[ParentAgency] [nvarchar](2000) NULL,
	[ParentAgencyNum] [nvarchar](2000) NULL,
	[RecordOwner] [nvarchar](2000) NULL,
	[UniqueIDPriorSystem] [nvarchar](2000) NULL,
	[MailingAttentionName] [nvarchar](2000) NULL,
	[MailingAddress1] [nvarchar](2000) NULL,
	[MailingAddress2] [nvarchar](2000) NULL,
	[MailingCity] [nvarchar](2000) NULL,
	[MailingStateProvince] [nvarchar](2000) NULL,
	[MailingPostalCode] [nvarchar](2000) NULL,
	[MailingCountry] [nvarchar](2000) NULL,
	[MailingAddressIsPrivate] [nvarchar](2000) NULL,
	[PhysicalAddress1] [nvarchar](2000) NULL,
	[PhysicalAddress2] [nvarchar](2000) NULL,
	[PhysicalCity] [nvarchar](2000) NULL,
	[PhysicalCounty] [nvarchar](2000) NULL,
	[PhysicalStateProvince] [nvarchar](2000) NULL,
	[PhysicalPostalCode] [nvarchar](2000) NULL,
	[PhysicalCountry] [nvarchar](2000) NULL,
	[PhysicalAddressIsPrivate] [nvarchar](2000) NULL,
	[OtherAddress1] [nvarchar](2000) NULL,
	[OtherAddress2] [nvarchar](2000) NULL,
	[OtherCity] [nvarchar](2000) NULL,
	[OtherCounty] [nvarchar](2000) NULL,
	[OtherStateProvince] [nvarchar](2000) NULL,
	[OtherPostalCode] [nvarchar](2000) NULL,
	[OtherCountry] [nvarchar](2000) NULL,
	[Latitude] [nvarchar](2000) NULL,
	[Longitude] [nvarchar](2000) NULL,
	[HoursOfOperation] [nvarchar](2000) NULL,
	[Phone1Number] [nvarchar](2000) NULL,
	[Phone1Name] [nvarchar](2000) NULL,
	[Phone1Description] [nvarchar](2000) NULL,
	[Phone1IsPrivate] [nvarchar](2000) NULL,
	[Phone1Type] [nvarchar](2000) NULL,
	[Phone2Number] [nvarchar](2000) NULL,
	[Phone2Name] [nvarchar](2000) NULL,
	[Phone2Description] [nvarchar](2000) NULL,
	[Phone2IsPrivate] [nvarchar](2000) NULL,
	[Phone2Type] [nvarchar](2000) NULL,
	[Phone3Number] [nvarchar](2000) NULL,
	[Phone3Name] [nvarchar](2000) NULL,
	[Phone3Description] [nvarchar](2000) NULL,
	[Phone3IsPrivate] [nvarchar](2000) NULL,
	[Phone3Type] [nvarchar](2000) NULL,
	[Phone4Number] [nvarchar](2000) NULL,
	[Phone4Name] [nvarchar](2000) NULL,
	[Phone4Description] [nvarchar](2000) NULL,
	[Phone4IsPrivate] [nvarchar](2000) NULL,
	[Phone4Type] [nvarchar](2000) NULL,
	[Phone5Number] [nvarchar](2000) NULL,
	[Phone5Name] [nvarchar](2000) NULL,
	[Phone5Description] [nvarchar](2000) NULL,
	[Phone5IsPrivate] [nvarchar](2000) NULL,
	[Phone5Type] [nvarchar](2000) NULL,
	[PhoneFax] [nvarchar](2000) NULL,
	[PhoneFaxDescription] [nvarchar](2000) NULL,
	[PhoneFaxIsPrivate] [nvarchar](2000) NULL,
	[PhoneTTY] [nvarchar](2000) NULL,
	[PhoneTTYDescription] [nvarchar](2000) NULL,
	[PhoneTTYIsPrivate] [nvarchar](2000) NULL,
	[PhoneTollFree] [nvarchar](2000) NULL,
	[PhoneTollFreeDescription] [nvarchar](2000) NULL,
	[PhoneTollFreeIsPrivate] [nvarchar](2000) NULL,
	[PhoneNumberHotline] [nvarchar](2000) NULL,
	[PhoneNumberHotlineDescription] [nvarchar](2000) NULL,
	[PhoneNumberHotlineIsPrivate] [nvarchar](2000) NULL,
	[PhoneNumberBusinessLine] [nvarchar](2000) NULL,
	[PhoneNumberBusinessLineDescription] [nvarchar](2000) NULL,
	[PhoneNumberBusinessLineIsPrivate] [nvarchar](2000) NULL,
	[PhoneNumberOutOfArea] [nvarchar](2000) NULL,
	[PhoneNumberOutOfAreaDescription] [nvarchar](2000) NULL,
	[PhoneNumberOutOfAreaIsPrivate] [nvarchar](2000) NULL,
	[PhoneNumberAfterHours] [nvarchar](2000) NULL,
	[PhoneNumberAfterHoursDescription] [nvarchar](2000) NULL,
	[PhoneNumberAfterHoursIsPrivate] [nvarchar](2000) NULL,
	[EmailAddressMain] [nvarchar](2000) NULL,
	[WebsiteAddress] [nvarchar](2000) NULL,
	[AgencyStatus] [nvarchar](2000) NULL,
	[AgencyClassification] [nvarchar](2000) NULL,
	[AgencyDescription] [nvarchar](max) NULL,
	[SearchHints] [nvarchar](2000) NULL,
	[CoverageArea] [nvarchar](2000) NULL,
	[CoverageAreaText] [nvarchar](2000) NULL,
	[Eligibility] [nvarchar](2000) NULL,
	[EligibilityAdult] [nvarchar](2000) NULL,
	[EligibilityChild] [nvarchar](2000) NULL,
	[EligibilityFamily] [nvarchar](2000) NULL,
	[EligibilityFemale] [nvarchar](2000) NULL,
	[EligibilityMale] [nvarchar](2000) NULL,
	[EligibilityTeen] [nvarchar](2000) NULL,
	[SeniorWorkerName] [nvarchar](2000) NULL,
	[SeniorWorkerTitle] [nvarchar](2000) NULL,
	[SeniorWorkerEmailAddress] [nvarchar](2000) NULL,
	[SeniorWorkerPhoneNumber] [nvarchar](2000) NULL,
	[SeniorWorkerIsPrivate] [nvarchar](2000) NULL,
	[MainContactName] [nvarchar](2000) NULL,
	[MainContactTitle] [nvarchar](2000) NULL,
	[MainContactEmailAddress] [nvarchar](2000) NULL,
	[MainContactPhoneNumber] [nvarchar](2000) NULL,
	[MainContactType] [nvarchar](2000) NULL,
	[MainContactIsPrivate] [nvarchar](2000) NULL,
	[LicenseAccreditation] [nvarchar](2000) NULL,
	[IRSStatus] [nvarchar](2000) NULL,
	[FEIN] [nvarchar](2000) NULL,
	[YearIncorporated] [nvarchar](2000) NULL,
	[AnnualBudgetTotal] [nvarchar](2000) NULL,
	[LegalStatus] [nvarchar](2000) NULL,
	[SourceOfFunds] [nvarchar](2000) NULL,
	[ExcludeFromWebsite] [nvarchar](2000) NULL,
	[ExcludeFromDirectory] [nvarchar](2000) NULL,
	[DisabilitiesAccess] [nvarchar](2000) NULL,
	[PhysicalLocationDescription] [nvarchar](2000) NULL,
	[BusServiceAccess] [nvarchar](2000) NULL,
	[PublicAccessTransportation] [nvarchar](2000) NULL,
	[FeeStructureSource] [nvarchar](2000) NULL,
	[ApplicationProcess] [nvarchar](2000) NULL,
	[ResourceInfo] [nvarchar](2000) NULL,
	[DocumentsRequired] [nvarchar](2000) NULL,
	[LanguagesOffered] [nvarchar](2000) NULL,
	[LanguagesOfferedList] [nvarchar](2000) NULL,
	[AvailabilityNumberOfTimes] [nvarchar](2000) NULL,
	[AvailabilityFrequency] [nvarchar](2000) NULL,
	[AvailabilityPeriod] [nvarchar](2000) NULL,
	[ServiceNotAlwaysAvailability] [nvarchar](2000) NULL,
	[CapacityType] [nvarchar](2000) NULL,
	[ServiceCapacity] [nvarchar](2000) NULL,
	[NormalWaitTime] [nvarchar](2000) NULL,
	[TemporaryMessage] [nvarchar](2000) NULL,
	[TemporaryMessageAppears] [nvarchar](2000) NULL,
	[TemporaryMessageExpires] [nvarchar](2000) NULL,
	[EnteredOn] [nvarchar](2000) NULL,
	[UpdatedOn] [nvarchar](2000) NULL,
	[MadeInactiveOn] [nvarchar](2000) NULL,
	[InternalNotes] [nvarchar](2000) NULL,
	[InternalNotesForEditorsAndViewers] [nvarchar](2000) NULL,
	[HighlightedResource] [nvarchar](2000) NULL,
	[LastVerifiedOn] [nvarchar](2000) NULL,
	[LastVerifiedByName] [nvarchar](2000) NULL,
	[LastVerifiedByTitle] [nvarchar](2000) NULL,
	[LastVerifiedByPhoneNumber] [nvarchar](2000) NULL,
	[LastVerifiedByEmailAddress] [nvarchar](2000) NULL,
	[LastVerificationApprovedBy] [nvarchar](2000) NULL,
	[AvailableForDirectory] [nvarchar](2000) NULL,
	[AvailableForReferral] [nvarchar](2000) NULL,
	[AvailableForResearch] [nvarchar](2000) NULL,
	[PreferredProvider] [nvarchar](2000) NULL,
	[ConnectsToSiteNum] [nvarchar](2000) NULL,
	[ConnectsToProgramNum] [nvarchar](2000) NULL,
	[LanguageOfRecord] [nvarchar](2000) NULL,
	[CurrentWorkflowStepCode] [nvarchar](2000) NULL,
	[VolunteerOpportunities] [nvarchar](2000) NULL,
	[VolunteerDuties] [nvarchar](2000) NULL,
	[Categories] [nvarchar](2000) NULL,
	[TaxonomyTerm] [nvarchar](2000) NULL,
	[TaxonomyTerms] [nvarchar](2000) NULL,
	[TaxonomyTermsNotDeactivated] [nvarchar](2000) NULL,
	[TaxonomyCodes] [nvarchar](2000) NULL,
	[Coverage] [nvarchar](max) NULL,
	[WorkHours] [nvarchar](2000) NULL,
	[CustomServicesToLGBTQ] [nvarchar](2000) NULL,
	[CustomAutomatedStatus] [nvarchar](2000) NULL,
	[CustomBatchID] [nvarchar](2000) NULL,
	[CustomProgramHarmReductionService] [nvarchar](2000) NULL,
	[CustomEligibilitybyAge] [nvarchar](2000) NULL,
	[CustomEligibilityByGender] [nvarchar](2000) NULL,
	[CustomLanguagePrefer] [nvarchar](2000) NULL,
	[CustomBilingualService] [nvarchar](2000) NULL,
	[CustomManualStatus] [nvarchar](2000) NULL,
	[CustomMCYSAccountNumber] [nvarchar](2000) NULL,
	[CustomAnonymityPolicy] [nvarchar](max) NULL,
	[CustomSuggestKeyword] [nvarchar](max) NULL,
	[CustomRecordType] [nvarchar](2000) NULL,
	[CustomSourceDatabase] [nvarchar](2000) NULL,
	[changedDate] [nvarchar](2000) NULL,
	[createdDate] [nvarchar](2000) NULL,
	[ErrorCode] [nvarchar](2000) NULL,
	[ErrorColumn] [nvarchar](2000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ETLLoadError_createdDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ETLLoadError] ADD  CONSTRAINT [DF_ETLLoadError_createdDate]  DEFAULT (getdate()) FOR [createdDate]
END

GO
