insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RF-3300'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP_5000.5000-200'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-070'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-825'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RF-2500'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1500.1400-500'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RF-2000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RM-6500.1500'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-100'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-800'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-5000.5000-800'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1500.1400'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1500.3400-650'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1500.1400-800'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PH-2360.2400'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1500.3300'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'TC-5500.9800'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-20.21'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-120'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.800-020.18'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-020.15'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-20.80'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-020.05'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-805'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 1, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LR-0450'
go

insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 2, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RM-7000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 2, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RX-8450.3300'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 2, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-6400.1900'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 2, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-6400.8000-620'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 2, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RX-8450.1150'
go
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 3, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'FN-1500.1000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 3, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PN-8100.1100'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 3, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1500.1400-100'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 3, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-120'
go
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 4, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PN-8100.0200-800'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 4, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1500.1400-750'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 4, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LT-1750.7935'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 4, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.800-020.18'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 4, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-800'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 4, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-020.05'
go
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 5, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-020.15'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 5, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1500.1400-200'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 5, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PN-8100.0200-180'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 5, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-20.80'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 5, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'BH-1800.1500-100'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 5, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-20.21'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 5, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'FN-1700'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 5, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'FN-1900'
go

insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LJ-2000.0100-050'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LJ-8000.8000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LJ-2000.1000-200'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LH-2700.0150'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LF-4900.2400'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LF-4900.8000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'TJ-3200.5000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LT-1750.8000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LJ-2000.1000-100'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LH-5000.6100'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LJ-5000.5000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LJ-2000.6750'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PH-6100.1800-900'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LJ-2000.1000-150'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 6, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LJ-2000.6500'
go

insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 7, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'TJ-3200.5000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 7, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'CLSC-LN-1500'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 7, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LH-2700.6500'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 7, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'DD-1500.7230'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 7, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LH-2700.1700'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 7, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LL-3300'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 7, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PN-8100.3000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 7, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LH-5000.6100'
go

insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 8, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PH-8000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 8, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'BH-1800.1500-700'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 8, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'BH-3900'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 8, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'BD-5000.8300'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 8, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'BH-8600'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 8, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'BD-1800.2000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 8, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'TC-5500.9800'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 8, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'BH-1800.1500-100'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 8, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LJ-5000.5000'
go

insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 9, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'ND-3600.8200'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 9, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'ND-2000.1500-160'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 9, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'ND-2000.6500'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 9, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'ND-2000.3500-950'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 9, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'DF-8000.4500'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 9, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'ND-3500.3700'
go

insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 10, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'FP-4000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 10, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'FF-3300.6300'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 10, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'FP-0500'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 10, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'FT-3200'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 10, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'TD-1600.3100-140'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 10, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'TJ-3200.4500'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 10, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'FN-1900'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 10, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'FN-1700'
go

insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 11, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'NL'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 11, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'DM-1800'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 11, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'NS-1900'
go

insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 12, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'YH-6000.0102'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 12, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'TC-5500.0100'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 12, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'TD-6600.4500-400'
go

insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 13, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RX-8450.8000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 13, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1500.1400-240'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 13, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RX-8470.8350'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 13, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LH-2700.6500'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 13, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RX-8450.7900'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 13, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-250'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 13, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RX-8450.3300'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 13, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RX-8450.1150'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 13, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'LH-5000.6100'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 13, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PN-8100.0500'
go

insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 14, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'TC-5500.2500'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 14, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PS-8200.2350'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 14, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1500.1400-260'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 14, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PN-8100.4500-240'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 14, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'RP-1400.8000-805'
go

insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 15, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PH-1450.3300'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 15, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'PH-1450.6000'
insert into [dbo].[SubcategoryID_InterestTaxonomyID] (SubCategoryID, InterestTaxonomyID) select 15, [InterestTaxonomyID]  from [dbo].[InterestTaxonomy] where [InterestTaxonomyCode] = 'TC-5500.1800'
go

